<div class="container row">
	<div class="col-12 text-center" id="top-bar">
		<h1> Eat-Da-Burger! </h1>
	</div>

	<div class="col-6 text-center" class="task">
		<div class="row">
			{{#each burgers}}
				{{#unless this.devoured}}
				<div class="col-9 text-center">
					<pre>
						{{this.id}}. {{this.burger_name}}
					</pre>
				</div>

				<div class="col-3 text-center">
					<form method="POST" action="/burgers/update?_method=PUT" class="button-size">
						<input type="hidden" type="text" name="burger_id" value={{this.id}}>
						<br>
						<button type="submit" class="btn btn-default">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			{{/each}}
		</div>
	</div>

	<div class="col-6 text-center">
		{{#each burgers}}
			{{#if this.devoured}}
				<input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
			{{/if}}
		{{/each}}
	</div>
</div>

<div class="container row">
	<div class="col-12 text-center enter_section">
		<form action="/burgers/create" method="POST">
			<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
			<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
		</form>
		<p>
			Enter a burger you want to eat and click the Submit button.
		</p>
	</div>
</div>